.searchWrapper {
  width: 300px;
  margin: 40px auto;
  .searchBox {
    outline: none;
    border: none;
    border-bottom: 1px solid;
    width: 100%;
    font-size: 24px;
    padding: 0 10px;
  }
}
#stocks {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  tr:nth-child(even){background-color: #f2f2f2;}

  tr:hover {background-color: #ddd;}

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  .redColor, .greenColor {
    -webkit-transition: background-color 500ms ease-in-out 1s;
    -moz-transition: background-color 500ms ease-in-out 1s;
    -o-transition: background-color 500ms ease-in-out 1s;
    transition: background-color 500ms ease-in-out 1s;
  }
  .redColor {
    background : red;
  }
  .greenColor {
    background : green;
  }
}
.centerAlign {
  text-align: center;
}
