//shadows
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  box-shadow: $shadow;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin transform($transform) {
  -ms-transform: $transform;
  -webkit-transform: $transform;
  -moz-tranform: $transform;
  -o-tranform: $transform;
  transform: $transform;
}
@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
  -ms-animation: $animation;
  animation: $animation;
}
@mixin keyframes($name) {
   @-webkit-keyframes #{$name}{
    @content;
  }
  @-moz-keyframes #{$name} {
     @content;
  }
  @-ms-keyframes #{$name} {
     @content;
  }
  @keyframes #{$name} {
     @content;
  }
}
@mixin flexBox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
@mixin columnLayout($count, $gap) {
  column-count: $count;
  -webkit-column-count: $count;
  -moz-column-count: $count;
  column-gap: $gap;
  -webkit-column-gap: $gap;
  -moz-column-gap: $gap;
}
@mixin preWrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
@mixin zoomCursor {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
@mixin selection {
  ::-moz-selection {
    @content;
  }
  ::selection {
    @content;
  }
}
