<h1 class="centerAlign">Stocks App</h1>
<table id="stocks">
    <thead>
      <tr>
        <td ng-click="sortBy('name')">Name</td>
        <td ng-click="sortBy('newPrice')">New Price</td>
        <td ng-click="sortBy('oldPrice')">Previous Price</td>
        <td ng-click="sortBy('lastUpdate')">Last Updated</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, value) in MyData.requiredObj">
        <td class="leftAlign">{{key}}</td>
        <td ng-class="{'redColor': (value.newValue - value.oldValue < 0), 'greenColor': (value.newValue - value.oldValue > 0)}">{{value.newValue}}</td>
        <td>{{value.oldValue}}</td>
        <td>At {{value.newTime}}</td>
      </tr>
    <tbody>
 </tbody>
</table>
